/* chart.js用のCSS */
.graph-legend div {
	display: inline-block;
	margin-right: 5px;
	vertical-align: middle;
}
.graph-legend ul {
	text-align: center;
	margin-left: -10px;
	letter-spacing: -.4em;
}
.graph-legend ul li{
	display: inline-block;
	margin-left: 10px;
	letter-spacing: normal;
	cursor: default;
}
.graph-legend ul li:hover{
	font-weight: bold;
	color: #999;
}
.pt-undefined {
	width: 0.8em;
	height: 1.6em;
}
.pt-rect {
	width: 1.2em;
	height: 1.2em;
}
.pt-rectRounded {
	width: 1.2em;
	height: 1.2em;
	border-radius: 5%;
}
.pt-circle {
	width: 1.3em;
	height: 1.3em;
	border-radius: 50%;
}
.pt-triangle {
  width: 0;
  height: 0;
  border-left: 0.6em solid transparent;
  border-right: 0.6em solid transparent;
  border-bottom: 1.2em solid;
}
.pt-rectRot {
	width: 1.1em;
	height: 1.1em;
	transform: rotate(45deg);
}