div#qa-help {
    margin-left: 15px;
    width: 70%;
    font-size: 1.2em;
}

#qa-help div.help01 h2.note-version {
    border-bottom: 1px dotted #ccc; 

}
#qa-help h2{
    margin-bottom: 10px;
    padding: 0 1em .5em;
    border-bottom: 1px solid #bbb;
}
#qa-help h3{
    padding: 0 1em;
}
#qa-help p{
    padding: .5em 1em .5em 1em ;
}
#qa-help div.help01 ul{
    list-style: disc;
    margin-left: 35px;
}
#qa-help div.h-frame{
    background-color: #fff;
    margin-bottom: 3em;
}

#qa-help div.help01 {
    background-color: #fff;
    margin-bottom: 1em;
    padding: 5px 0;
}
#qa-help div.help01 table{
    width: 50%;
    margin: 1em;
    border-spacing: 0;
}
#qa-help div.help01 table tr{
    font-size: 13px;
    line-height: 2em;
}
#qa-help div.help01 table th{
    padding-left: 10px;
    font-weight: normal;
    text-align: left;
}
#qa-help div.help01 table td.yours{
    width: 30%;
}
#qa-help div.help01 table td.qas{
    padding-right: 10px;
}
#qa-help div.help01 table>tbody>:nth-child(odd) {
    background-color: #f4f4f4;
}

#qahm-help-debug {
    padding: 16px;
    margin-left: 15px;
    margin-top: 30px;
    margin-bottom: 60px;
    background-color: #f6f6f6;
    max-width: 600px;
}

@media only screen and (min-width: 576px) {
    #qa-help div.help04 table th {
    width: 11em;
    }
}